.App {
  margin: 10px 20px 0 40px;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  
}

thead {
  background-color: green;
  color: white;
}

tbody {
  border-bottom: 1px solid lightgray;
}

th, td {
  padding: 10px;
}
